<div class="hero-container">
  <div class="hero-animation-container-holder">
    <div class="hero-left-icon-holder"><img
        src="https://assets.website-files.com/6319f69c5ef0f35ae3db6df0/632daaeebefab079d1a60937_Left%20Arrow.svg"
        loading="lazy" alt="" class="hero-left-icon"></div>
    <div class="hero-icon-holder lineFigure">
      <div class="line"></div>
    </div>
    <div style="width: 100%; height: 163px;" class="hero-animation-text-container">
      <h1 class="hero-text">Developer</h1>
    </div>
    <div class="hero-right-icon-holder"><img
        src="https://assets.website-files.com/6319f69c5ef0f35ae3db6df0/632daaee60c8d7bfd8830029_Left%20Arrow-1.svg"
        loading="lazy" alt="" class="hero-right-icon"></div>
  </div>
</div>
